.container.pt-4.pb-4
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.rounded
        a.navbar-brand(href='#') GrimWorld Admin
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExample09', aria-controls='navbarsExample09', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarsExample09
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href='/admin/') Настройки
                li.nav-item
                    a.nav-link(href='/admin/products') Товары
                li.nav-item
                    a.nav-link(href='/admin/crafts') Крафты
                li.nav-item
                    a.nav-link(href='/admin/categories') Категории
                li.nav-item
                    a.nav-link(href='/admin/items') Предметы
            //form.form-inline.my-2.my-md-0
            //    input.form-control(type='text', placeholder='Search', aria-label='Search')